<app-public-header></app-public-header>
<div id="main">
    <div id="account" class="has-aside">
        <div id="page-title">
            <div class="background"></div>
            <div class="mask">
                <div class="position">
                    <ul class="breadcrumbs">
                        <li>
                            <a href="">Trang chủ</a>
                        </li>
                        <li>
                            <a href="">Quản lý tài khoản</a>
                        </li>
                    </ul>
                    <h1>
                        Thông tin tài khoản
                    </h1>
                </div>
            </div>
        </div>
        <div class="position">
            <aside>
                <section class="collapsible-container collapsible-list">
                    <h3>Xin chào, <span class="bind-name">{{patient?.name}}</span></h3>
                    <dl>
                        <dt>
                            <a id="info" (click)="loadInfo()" class="active"><i class="fa fa-fw fa-user" aria-hidden="true"></i> Thông tin tài khoản</a>
                        </dt>
                        <dt>
                            <a id="aq" (click)="loadAq()"  ><i class="fa fa-fw fa-comments-o" aria-hidden="true"></i> Đã hỏi bác sĩ</a>
                        </dt>
                        <dt>
                            <a id="rating" (click)="loadRaing()"><i class="fa fa-fw fa-comments-o" aria-hidden="true"></i> Đánh giá đã gửi</a>
                        </dt>
                        <dt>
                            <a id="reset" (click)="loadReset()"  class=""><i class="fa fa-fw fa-key" aria-hidden="true"></i> Đổi mật khẩu</a>
                        </dt>
                        <dt>
                            <a (click)="logout()" class="logout"><i class="fa fa-fw fa-power-off" aria-hidden="true"></i> Đăng xuất</a>
                        </dt>
                    </dl>
                </section>
            </aside>
            <div class="content">
                <section class="customer" *ngIf="checkinfo">
                    <div class="section-header">
                        <h2><i class="fa fa-fw fa-user" aria-hidden="true"></i> Tài khoản</h2>
                        <a [routerLink]="['/public/info/edit']" class="edit">
                            <span class="for-not-editing"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sửa thông tin</span>
                        </a>
                    </div>

                    <div class="section-body">
                        <form name="form-edit" class=" no-avatar " action="?fbclid=IwAR1DuGbUXSYNQERD_cMzYny4h1T_Gz1mRe56qC-qoDpBn2IBNnksYKIQAFQ#" data-checking-success="/tai-khoan/sua-thong-tin/thanh-cong" data-checking-error="/tai-khoan/sua-thong-tin/loi">
                            <p>Fido cam kết đảm bảo an toàn tuyệt đối cho các thông tin riêng tư của bạn.</p>
                            <div class="form-row">
                                <div class="form-field">
                                    <label>
                                        Email:
                                    </label>
                                    <div class="form-field-text for-not-editing" data-text-for="email">
                                        {{patient?.email}}
                                    </div>

                                    <div class="form-field-input for-editing">
                                        <input type="text" name="email" value="ntntri.it1106@gmail.com" disabled="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label>
                                        Họ và tên:
                                    </label>
                                    <div class="form-field-text for-not-editing" data-text-for="full_name">
                                        {{patient?.name}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label>
                                        Ngày sinh:
                                    </label>
                                    <div class="form-field-text for-not-editing" data-text-for="dob">
                                        <em>{{patient?.birthday}}</em>
                                    </div>
                                    <div class="form-field-input for-editing">
                                        <input type="text" name="dob" value="" placeholder="Ví dụ 15/11/1985">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label>
                                       Giới tính
                                    </label>
                                    <div class="form-field-text for-not-editing" data-text-for="gender">
                                        {{patient?.gender}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label>
                                        Địa chỉ:
                                    </label>
                                    <div class="form-field-text for-not-editing" data-text-for="address">
                                        <em>{{patient?.address_name}}</em>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label>
                                        Số điện thoại:
                                    </label>
                                    <div class="form-field-text for-not-editing" data-text-for="phone">
                                        <em>{{patient?.phone_number}}</em>
                                    </div>

                                    <div class="form-field-input for-editing">
                                        <input type="text" name="phone" value="0387759874">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-field">
                                    <label>
                                        Ảnh đại diện:
                                    </label>
                                    <div class="form-field-text">
                                        <a href="{{patient?.avatar}}">{{patient?.avatar}}</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form action="ket-noi/login/facebook/" method="get">
                            <div class="button-row">
                                <button type="submit" name="facebook" class="button-facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                Kết nối Facebook
                            </button>
                            </div>
                        </form>
                    </div>
                </section>

                <section class="customer" *ngIf="checkaq">
                    <table class="table">
                        <thead>
                            <th>Tên bác sĩ</th>
                            <th>Ngày hỏi</th>
                            <th>Nội dung hỏi</th>
                            <th>Nội dung trả lời</th>
                            <th>Ngày trả lời</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of aqs">
                                <td>{{item.doctor_name}}</td>
                                <td>{{item.created_at}}</td>
                                <td>{{item.question_content}}</td>
                                <td>{{item.answer}}</td>
                                <td>{{item.updated_at}}</td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                <section class="customer" *ngIf="checkrating">
                    <table class="table">
                        <thead>
                            <th>Tên bác sĩ</th>
                            <th>Đánh giá</th>
                            <th>Nội dung</th>
                            <th>Ngày đánh giá</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item1 of ratings">
                                <td>{{item1.doctor_name}}</td>
                                <td>{{item1.star}}</td>
                                <td>{{item1.review}}</td>
                                <td>{{item1.created_at}}</td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                <section class="customer" *ngIf="checkReset">
                    <form [formGroup]="formReset" (ngSubmit)="onSubmit()">
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="Email">Email</label>
                                <input type="email" formControlName="email" class="form-control" id="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Vui lòng nhập email!</div>
                                    <div *ngIf="f.email.errors.email">Không đúng định dạng!</div>
                                </div>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="Password">Password</label>
                                <input type="password" formControlName="password" class="form-control" id="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Vui lòng nhập mật khẩu!</div>
                                </div>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="resetPassword">RePassword</label>
                                <input type="password" formControlName="resetPassword" class="form-control" id="resetPassword" [ngClass]="{ 'is-invalid': submitted && f.resetPassword.errors }">
                                <div *ngIf="submitted && f.resetPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.resetPassword.errors.required">Vui lòng nhập mật khẩu!</div>
                                </div>
                            </div>

                            <div class="form-group col-md-8">
                                <label for="resetPassword">ConfirmPassword</label>
                                <input type="password" formControlName="confirmPassword" class="form-control" id="resetPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.confirmPassword.errors.required">Xác nhận mật khẩu!
                                    </div>
                                    <div *ngIf="f.confirmPassword.errors.mustMatch">Mật khẩu không khớp!</div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
<app-public-footer></app-public-footer>