<app-admin-header></app-admin-header>
<div class="main">
  <div>
    <main class="container pt-5">
      <div class="card mb-5">
        <div class="card-header">Doctors</div>
        <div class="card-block p-0">
          <table class="table table-bordered table-sm m-0" datatable [dtOptions]="dtOptions">
            <thead>
              <tr>
                <th>#</th>
                <th>ID</th>
                <th>Họ tên</th>
                <th>Giới tính</th>
                <th>Ngày sinh</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let emp of doctorService.list">
                <td>
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                  </label>
                </td>
                <td>{{emp.doctorNo}}</td>
                <td>{{emp.doctorName}}</td>
                <td>{{emp.doctorGender}}</td>
                <td>{{emp.doctorBirthDay}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn-outline-primary"><a >Edit</a></button></td>
                <td><button class="btn btn-sm btn-outline-danger">X</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>
<app-admin-footer></app-admin-footer>