<app-public-header></app-public-header>
<div id="main_header">

</div>
<div class="main">
    <div id="main_left">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-2 pt-3 item">
                    <div class="form-group item">
                        <select id="inputState " class="form-control">
                            <option selected>Tỉnh thành</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-2 pt-3 item">
                    <div class="form-group">
                        <select id="inputState" class="form-control">
                            <option selected>Chuyên khoa</option>
                            <option>BMW</option>
                            <option>Audi</option>
                            <option>Maruti</option>
                            <option>Tesla</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 pt-3 item">
                    <div class="form-group">
                        <select id="inputState" class="form-control">
                            <option selected>Chức vụ</option>
                            <option>BMW</option>
                            <option>Audi</option>
                            <option>Maruti</option>
                            <option>Tesla</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 pt-3 item">
                    <div class="form-group item">
                        <select id="inputState" class="form-control">
                            <option selected>Type</option>
                            <option>BMW</option>
                            <option>Audi</option>
                            <option>Maruti</option>
                            <option>Tesla</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 pt-3 item">
                    <div class="form-group item">
                        <select id="inputState" class="form-control">
                            <option selected>Type</option>
                            <option>BMW</option>
                            <option>Audi</option>
                            <option>Maruti</option>
                            <option>Tesla</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary btn-block">Search</button>
                </div>
            </div>
        </div>
        <div>
            <ul class="main_left_ul">
                <li class="main_left_ul_li" *ngFor="let item of listDoctor">
                    <div class="body">
                        <div class="media">
                            <img class="hero-image" src="{{item.avatar}}" alt="">
                            <a href="/danh-sach/bac-si/tam-ly-le-van-thang-47351/tam-than#nhan-xet" class="comments-summary break" title="2 hài lòng, 6 nhận xét, 329 câu trả lời, 76 cảm ơn">
                                <span class="like-count">
                                    <i class="fa fa-thumbs-o-up"></i> 2
                                </span>
                                <span class="comment-count">
                                    <i class="fa fa-comment-o"></i> 6
                                </span>
                            </a>

                        </div>
                        <div class="info">
                            <h2>
                                <a href="/danh-sach/bac-si/tam-ly-le-van-thang-47351/tam-than">{{item.name}}</a>
                            </h2>
                            <div class="desc">
                                {{item.description}},...
                                <a class="readmore" [routerLink]="['/public/doctor/details',item.id]">Xem tiếp
                                    <i class="fa fa-angle-double-right"></i></a>
                            </div>
                            <dl class="brief">
                                <dt>
                                    <i class="fa fa-graduation-cap"></i>
                                </dt>
                                <dd>
                                    <a href="/danh-sach/bac-si/?degrees=thac-si">Chức vụ</a>
                                </dd>
                                <dt>
                                    <i class="fa fa-stethoscope"></i>
                                </dt>
                                <dd>
                                    <a href="">{{item.specialist_name}}</a>,
                                    <a href="">{{item.sub_specialist_name}}</a>
                                </dd>

                                <dt>
                                    <i class="fa fa-book"></i>
                                </dt>
                                <dd>
                                    {{item.experience}}
                                </dd>

                                <dt>
                                    <i class="fa fa-hospital-o"></i>
                                </dt>
                                <dd>
                                    <a href="/trung-tam-tu-van-tam-ly-247-96564/tam-than">{{item.hospital_name}}</a>
                                </dd>

                            </dl>
                        </div>
                        <!-- <div class="call-to-action">
                            <a href="#" class="sticky-nav-link action-favourite secondary weak button "
                                title="Thêm vào ghi nhớ" data-professional-id="47351">
                                <i class="fa fa-spinner fa-pulse loader"></i>
                                <span class="added"><i class="fa fa-bookmark" aria-hidden="true"></i> Đã ghi nhớ</span>
                                <span class="unadded"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Ghi nhớ</span>
                            </a>
                        </div> -->
                    </div>
                </li>
            </ul>
            <ul class="pagination">
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>
    <aside>
        <section class="collapsible-container collapsible-list collapsed">
            <h3>Chuyên khoa</h3>
            <dl class="collapsible-target">
                <dt *ngFor="let item of specialists">
                    <a href="/danh-sach/bac-si/?specialities=duoc" class="" title="Dược">
                        <h5>{{item.name}}</h5>
                        <span class="thread-count ">9589 bác sĩ</span>
                    </a>
                </dt>
            </dl>

            <div class="collapse-trigger">
                <span class="trigger-expand"><i class="fa fa-chevron-down"></i></span>
                <span class="trigger-collapse"><i class="fa fa-chevron-up"></i></span>
            </div>
        </section>
        <section class="top-list">
            <h3>Đáng quan tâm</h3>

            <ul>

                <li>
                    <a class="image" href="/tuyen-chon-bac-si/5-bac-si-nam-mat-tay-chuyen-khoa-san-tai-ha-noi-119/" style="background-image: url(https://dwbxi9io9o7ce.cloudfront.net/images/19_07_2016_03_51_50_142932.jpeg);" title="5 bác sĩ nam “mát tay” chuyên khoa sản tại Hà Nội"></a>

                    <div class="body">
                        <h4>
                            <a href="/tuyen-chon-bac-si/5-bac-si-nam-mat-tay-chuyen-khoa-san-tai-ha-noi-119/" title="5 bác sĩ nam “mát tay” chuyên khoa sản tại Hà Nội">
                                5 bác sĩ nam “mát tay” chuyên khoa sản tại Hà Nội
                            </a>
                        </h4>
                    </div>
                </li>

                <li>
                    <a class="image" href="/tuyen-chon-bac-si/5-bac-si-dau-nganh-ve-chuyen-khoa-tim-mach-duoc-nhieu-nguoi-biet-den-tai-tp-ho-chi-minh-122/" style="background-image: url(https://dwbxi9io9o7ce.cloudfront.net/images/19_07_2016_04_14_22_302702.jpeg);" title="5 Bác sĩ đầu ngành về chuyên khoa tim mạch được nhiều người biết đến tại TP. Hồ Chí Minh"></a>

                    <div class="body">
                        <h4>
                            <a href="/tuyen-chon-bac-si/5-bac-si-dau-nganh-ve-chuyen-khoa-tim-mach-duoc-nhieu-nguoi-biet-den-tai-tp-ho-chi-minh-122/" title="5 Bác sĩ đầu ngành về chuyên khoa tim mạch được nhiều người biết đến tại TP. Hồ Chí Minh">
                                5 Bác sĩ đầu ngành về chuyên khoa tim mạch được nhiều người biết đến tại TP. Hồ Chí Minh
                            </a>
                        </h4>
                    </div>
                </li>

                <li>
                    <a class="image" href="/tuyen-chon-bac-si/5-bac-si-phau-thuat-than-kinh-noi-tieng-tai-tp-hcm-243/" style="background-image: url(https://dwbxi9io9o7ce.cloudfront.net/images/04_08_2016_09_51_26_177372.jpeg);" title="5 bác sĩ phẫu thuật thần kinh nổi tiếng tại Tp. HCM"></a>

                    <div class="body">
                        <h4>
                            <a href="/tuyen-chon-bac-si/5-bac-si-phau-thuat-than-kinh-noi-tieng-tai-tp-hcm-243/" title="5 bác sĩ phẫu thuật thần kinh nổi tiếng tại Tp. HCM">
                                5 bác sĩ phẫu thuật thần kinh nổi tiếng tại Tp. HCM
                            </a>
                        </h4>
                    </div>
                </li>

                <li>
                    <a class="image" href="/tuyen-chon-bac-si/5-bac-si-nam-mat-tay-chuyen-khoa-san-tai-tp-ho-chi-minh-155/" style="background-image: url(https://dwbxi9io9o7ce.cloudfront.net/images/19_07_2016_10_07_06_495082.jpeg);" title="5 bác sĩ nam “mát tay” chuyên khoa sản tại Tp. Hồ Chí Minh"></a>

                    <div class="body">
                        <h4>
                            <a href="/tuyen-chon-bac-si/5-bac-si-nam-mat-tay-chuyen-khoa-san-tai-tp-ho-chi-minh-155/" title="5 bác sĩ nam “mát tay” chuyên khoa sản tại Tp. Hồ Chí Minh">
                                5 bác sĩ nam “mát tay” chuyên khoa sản tại Tp. Hồ Chí Minh
                            </a>
                        </h4>
                    </div>
                </li>

                <li>
                    <a class="image" href="/tuyen-chon-bac-si/top-5-bac-si-tuoi-tre-tai-cao-chuyen-khoa-co-xuong-khop-tai-ha-noi-146/" style="background-image: url(https://dwbxi9io9o7ce.cloudfront.net/images/19_07_2016_09_01_17_254115.jpeg);" title="Top 5 Bác sĩ tuổi trẻ tài cao chuyên khoa cơ xương khớp tại Hà Nội"></a>

                    <div class="body">
                        <h4>
                            <a href="/tuyen-chon-bac-si/top-5-bac-si-tuoi-tre-tai-cao-chuyen-khoa-co-xuong-khop-tai-ha-noi-146/" title="Top 5 Bác sĩ tuổi trẻ tài cao chuyên khoa cơ xương khớp tại Hà Nội">
                                Top 5 Bác sĩ tuổi trẻ tài cao chuyên khoa cơ xương khớp tại Hà Nội
                            </a>
                        </h4>
                    </div>
                </li>

                <li>
                    <a class="image" href="/tuyen-chon-bac-si/5-bac-si-phau-thuat-than-kinh-noi-tieng-tai-ha-noi-245/" style="background-image: url(https://dwbxi9io9o7ce.cloudfront.net/images/04_08_2016_10_28_43_627148.jpeg);" title="5 bác sĩ phẫu thuật thần kinh nổi tiếng tại Hà Nội"></a>

                    <div class="body">
                        <h4>
                            <a href="/tuyen-chon-bac-si/5-bac-si-phau-thuat-than-kinh-noi-tieng-tai-ha-noi-245/" title="5 bác sĩ phẫu thuật thần kinh nổi tiếng tại Hà Nội">
                                5 bác sĩ phẫu thuật thần kinh nổi tiếng tại Hà Nội
                            </a>
                        </h4>
                    </div>
                </li>

                <li>
                    <a class="image" href="/tuyen-chon-bac-si/5-tien-si-chuyen-khoa-chan-thuong-chinh-hinh-cot-song-tai-tphcm-1649/" style="background-image: url(https://dwbxi9io9o7ce.cloudfront.net/images/09_10_2016_07_56_38_002927.jpeg);" title="5 Tiến sĩ chuyên khoa chấn thương chỉnh hình cột sống tại TP.HCM "></a>

                    <div class="body">
                        <h4>
                            <a href="/tuyen-chon-bac-si/5-tien-si-chuyen-khoa-chan-thuong-chinh-hinh-cot-song-tai-tphcm-1649/" title="5 Tiến sĩ chuyên khoa chấn thương chỉnh hình cột sống tại TP.HCM ">
                                5 Tiến sĩ chuyên khoa chấn thương chỉnh hình cột sống tại TP.HCM 
                            </a>
                        </h4>
                    </div>
                </li>

                <li>
                    <a class="image" href="/tuyen-chon-bac-si/5-bac-si-nu-chuyen-khoa-san-tai-tp-ho-chi-minh-154/" style="background-image: url(https://dwbxi9io9o7ce.cloudfront.net/images/19_07_2016_09_55_20_446675.jpeg);" title="5 bác sĩ nữ chuyên khoa sản tại Tp. Hồ Chí Minh"></a>

                    <div class="body">
                        <h4>
                            <a href="/tuyen-chon-bac-si/5-bac-si-nu-chuyen-khoa-san-tai-tp-ho-chi-minh-154/" title="5 bác sĩ nữ chuyên khoa sản tại Tp. Hồ Chí Minh">
                                5 bác sĩ nữ chuyên khoa sản tại Tp. Hồ Chí Minh
                            </a>
                        </h4>
                    </div>
                </li>

                <li>
                    <a class="image" href="/tuyen-chon-bac-si/5-bac-si-nu-chuyen-khoa-tieu-hoa-gan-mat-tai-tphcm-1686/" style="background-image: url(https://dwbxi9io9o7ce.cloudfront.net/images/09_10_2016_18_20_10_092350.jpeg);" title="5 bác sĩ nữ chuyên khoa tiêu hóa gan mật tại Tp.HCM"></a>

                    <div class="body">
                        <h4>
                            <a href="/tuyen-chon-bac-si/5-bac-si-nu-chuyen-khoa-tieu-hoa-gan-mat-tai-tphcm-1686/" title="5 bác sĩ nữ chuyên khoa tiêu hóa gan mật tại Tp.HCM">
                                5 bác sĩ nữ chuyên khoa tiêu hóa gan mật tại Tp.HCM
                            </a>
                        </h4>
                    </div>
                </li>

                <li>
                    <a class="image" href="/tuyen-chon-bac-si/5-bac-si-dieu-tri-nam-khoa-giau-kinh-nghiem-tai-ha-noi-247/" style="background-image: url(https://dwbxi9io9o7ce.cloudfront.net/images/05_08_2016_07_49_31_184905.jpeg);" title="5 bác sĩ điều trị nam khoa giàu kinh nghiệm tại Hà Nội"></a>

                    <div class="body">
                        <h4>
                            <a href="/tuyen-chon-bac-si/5-bac-si-dieu-tri-nam-khoa-giau-kinh-nghiem-tai-ha-noi-247/" title="5 bác sĩ điều trị nam khoa giàu kinh nghiệm tại Hà Nội">
                                5 bác sĩ điều trị nam khoa giàu kinh nghiệm tại Hà Nội
                            </a>
                        </h4>
                    </div>
                </li>

            </ul>

            <a href="/tuyen-chon-bac-si/" class="view-more">Xem tất cả các tuyển chọn</a>
        </section>
    </aside>
</div>
<app-public-footer></app-public-footer>