.main {
    width: 84%;
    margin: 0 auto
}

.form-row {
    margin-right: 0;
    margin-left: 0;
}

form {
    margin-right: 3%;
    margin-left: 2%;
}

#main_header {
    background: url(src/assets/images/nen_login.jpg) no-repeat center;
    height: 100px;
    width: 100%;
    padding-left: 4%
}

#main_header p {
    margin: 0;
    padding-top: 12px;
}

#main_header h2 {
    font-family: initial;
}