<app-admin-header></app-admin-header>
<div id="main" style="float: left;height: 562px;width: 84%;overflow: overlay;">
    <div class="card-header"><i class="fa fa-home"></i>Trang chủ/ <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>Thông tin tài khoản
    </div>
    <div id="account" class="has-aside">
        <div class="position">
            <div class="content" style="margin: 0 15%;margin-top: 20px;">
                <section class="customer">
                    <div class="section-header">
                        <h2><i class="fa fa-fw fa-user" aria-hidden="true"></i> Tài khoản</h2>
                        <a [routerLink]="['/admin/info/edit']" class="edit">
                            <span class="for-not-editing"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sửa thông tin</span>
                        </a>
                    </div>

                    <div class="section-body">
                        <form name="form-edit" class=" no-avatar " action="?fbclid=IwAR1DuGbUXSYNQERD_cMzYny4h1T_Gz1mRe56qC-qoDpBn2IBNnksYKIQAFQ#" data-checking-success="/tai-khoan/sua-thong-tin/thanh-cong" data-checking-error="/tai-khoan/sua-thong-tin/loi">
                            <p>Fido cam kết đảm bảo an toàn tuyệt đối cho các thông tin riêng tư của bạn.</p>
                            <div class="form-row">
                                <div class="form-field">
                                    <label>
                                            Mã:
                                            </label>
                                    <div class="form-field-text for-not-editing" data-text-for="email">
                                        {{employee?.employee_no}}
                                    </div>

                                </div>
                                <div class="form-field">
                                    <label>
                                        Email:
                                    </label>
                                    <div class="form-field-text for-not-editing" data-text-for="email">
                                        {{employee?.email}}
                                    </div>

                                    <div class="form-field-input for-editing">
                                        <input type="text" name="email" value="ntntri.it1106@gmail.com" disabled="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label>
                                        Họ và tên:
                                    </label>
                                    <div class="form-field-text for-not-editing" data-text-for="full_name">
                                        {{employee?.name}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label>
                                        Ngày sinh:
                                    </label>
                                    <div class="form-field-text for-not-editing" data-text-for="dob">
                                        <em>{{employee?.birthday}}</em>
                                    </div>
                                    <div class="form-field-input for-editing">
                                        <input type="text" name="dob" value="" placeholder="Ví dụ 15/11/1985">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label>
                                       Giới tính:
                                    </label>
                                    <div class="form-field-text for-not-editing" data-text-for="gender">
                                        {{employee?.gender}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label>
                                        Địa chỉ:
                                    </label>
                                    <div class="form-field-text for-not-editing" data-text-for="address">
                                        <em>{{employee?.address_name}}</em>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label>
                                        Số điện thoại:
                                    </label>
                                    <div class="form-field-text for-not-editing" data-text-for="phone">
                                        <em>{{employee?.phone_number}}</em>
                                    </div>

                                    <div class="form-field-input for-editing">
                                        <input type="text" name="phone" value="0387759874">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label>
                                            CMND:
                                        </label>
                                    <div class="form-field-text for-not-editing" data-text-for="address">
                                        <em>{{employee?.id_number}}</em>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label>
                                            Passport:
                                        </label>
                                    <div class="form-field-text for-not-editing" data-text-for="address">
                                        <em>{{employee?.passport_no}}</em>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label>
                                                Ngày bắt đầu làm việc:
                                            </label>
                                    <div class="form-field-text for-not-editing" data-text-for="address">
                                        <em>{{employee?.start_date}}</em>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label>
                                        Ảnh đại diện:
                                    </label>
                                    <div class="form-field-text">
                                        <a href="{{employee?.avatar}}">{{employee?.avatar}}</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form action="ket-noi/login/facebook/" method="get">
                            <div class="button-row">
                                <button type="submit" name="facebook" class="button-facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                Kết nối Facebook
                            </button>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<app-admin-footer></app-admin-footer>