<app-admin-header></app-admin-header>
<div class="main">
    <div class="card-header">
        <i class="fa fa-home"></i>Trang chủ/
        <i class="fa fa-user-md"></i>Quản lý bác sĩ/
        <i class="fas fa-graduation-cap"></i>Chứng chỉ hành nghề
    </div>
    <div class="jumbtron">
        <div class="row">
            <div class="col-md-5">
                <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
                    <div class="form-group">
                        <img src="{{certificateService.formData.image}}" alt="" style="width: 300px;height: 200px;">
                        <input type="file" name="image" (change)="onSelectedFile($event)">
                    </div>
                    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="certificateService.formData.id">
                    <input type="hidden" name="doctor_id" #id="ngModel" [(ngModel)]="certificateService.formData.doctor_id">
                    <div class="form-group">
                        <label>Tên chứng chỉ</label>
                        <input name="name" #name="ngModel" [(ngModel)]="certificateService.formData.name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Mô tả</label>
                        <textarea name="description" #Position="ngModel" [(ngModel)]="certificateService.formData.description" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">SUBMIT</button>
                        <button type="reset" class="btn btn-primary btn-block" (click)="resetForm(form)">Reset</button>
                    </div>
                </form>
            </div>
            <div class="col-md-7">
                <table class="table table-hover table-sm m-0">
                    <thead>
                        <tr>
                            <th>Tên chứng chỉ</th>
                            <th>Mô tả</th>
                            <th>Ảnh</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let emp of certificateService.list">
                        <td (click)="populateForm(emp)">{{emp.name}}</td>
                        <td (click)="populateForm(emp)">{{emp.description}}</td>
                        <td (click)="populateForm(emp)"><a href="{{emp.image}}">{{emp.image}}</a></td>
                        <td>
                            <a (click)="onDelete(emp.id)">
                                <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                            </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<app-admin-footer></app-admin-footer>