<app-public-header></app-public-header>
<div _ngcontent-c9="" id="page-title">
    <div _ngcontent-c9="" class="background"></div>
    <div _ngcontent-c9="" class="mask">
        <div _ngcontent-c9="" class="position">
            <ul _ngcontent-c9="" class="breadcrumbs">
                <li _ngcontent-c9=""><a _ngcontent-c9="">Trang chủ</a></li>
                <li _ngcontent-c9=""><a _ngcontent-c9="">Quản lý bệnh</a></li>
            </ul>
            <h1 _ngcontent-c9=""> Bệnh thường gặp</h1>
        </div>
    </div>
</div>
<div class="body cms-body" itemprop="articleBody" style="padding: 0 8%;">
    <div style="text-align: justify;"><br>
        <strong>1. HIV/AIDS</strong><br>
        <br> Khi mắc bệnh, hệ miễn dịch người bệnh suy giảm rất nhanh. Bệnh chưa có thuốc trị nên trước mắt, cách tốt nhất là phòng ngừa; sống lành mạnh, tránh xa ma túy. Khi thấy "chỗ kín" có dấu hiệu khác lạ, phải đi kiểm tra. Nếu nghi nhiễm HIV, hãy
        làm xét nghiệm máu ngay.<br>
        <br>
        <strong>2. SARS<br>
  </strong><br> SARS lây qua đường hô hấp, do viruts phát tán trong khí. Hiện nay, các nhà khoa học vẫn đang nghiên cứu để tìm ra thuốc và vắc-xin phòng và chữa bệnh.<br> Khi vào mùa dịch, tránh đến các khu vực bị ảnh hưởng mang khẩu trang khi
        tiếp xúc với bệnh nhân, rửa tay sau khi hắt hơi, vệ sinh nơi ở...<br>
        <br>
        <table align="center" class="picBox">
            <tbody>
                <tr>
                    <td><img alt="" src="https://img.giaoduc.net.vn/w801/Uploaded/2019/zdhwqcrnw/2012_12_10/benh-nguy-hiem-giaoduc.net.vn3.jpg"></td>
                </tr>
                <tr>
                    <td class="desc">Ảnh minh họa</td>
                </tr>
            </tbody>
        </table>
        <br>
        <br> Các nhà khoa học vẫn đang nghiên cứu để tìm ra thuốc và vắc-xin phòng và chữa bệnh SARS.<br>
        <br>
        <strong>3. H5N1<br>
  </strong>
        <br> Cũng như SARS, dịch cúm gia cầm H5N1 hiện đang là mối hiểm họa đối với nhiều nước, đặc biệt là khu vực Đông Nam Á.<br>
        <br> Theo các cơ quan chức năng, chưa thấy dấu hiệu virut H5N1 lây truyền sang người. Tuy nhiên, các trường hợp nhiễm bệnh đều có liên quan đến việc trực tiếp giết mổ và sử dụng gia cầm mắc bệnh. Do đó, mọi người hãy cẩn thận!<br>
        <br>
        <strong>4. Viêm gan</strong><br>
        <br> Viêm gan siêu vi do nhiều chủng viruts gây ra, nhưng thường gặp nhất là viêm gan siêu vi A, B, C.<br>
        <br> Trong đó, viêm gan siêu A lây truyền qua đường tiêu hóa. Chủng virut gây viêm gan siêu vi B, C lây truyền chủ yếu qua đường máu, quan hệ tình dục và mẹ truyền sang con.<br>
        <br> Điều trị viêm gan siêu vi chủ yếu bằng cách tăng cường sức khỏe và tính đề kháng của cơ thể qua chế độ ăn uống. Ngoài ra, có thể tiêm ngừa vắc-xin viêm gan B.<br>
        <br>
        <strong>5. Tiểu đường</strong><br>
        <br> Đây là bệnh tiềm ẩn, lúc được chẩn đoán, bệnh thường đã có biến chứng. Nguyên nhân do đường trong máu cao, giảm tiết insulin hoặc insulin hoạt động không hiệu quả. Hiện nay, bệnh đái tháo đường tuýp 2 chiếm tỷ lệ khá cao.<br>
        <br> Theo các chuyên gia y tế, nếu được phát hiện sớm, 20-40% bệnh nhân có thể điều trị tốt bằng chế độ ăn uống và tập thể dục.<br>
        <br>
        <strong>6. Tim mạch</strong><br>
        <br> Từ xưa đến nay, các bệnh về tim mạch vẫn là nguyên nhân gây tử vong hàng đầu. Trong đó, thường gặp nhất là cao huyết áp và bệnh mạch vành.<br>
        <br> Nguyên nhân gây ra các bệnh về tim mạch là do ăn quá mặn, dùng nhiều mỡ động vật, thường xuyên uống rượu, hút thuốc lá, lười vận động. Một số tác nhân khác hình thành từ lối sống như: căng thẳng quá mức, suy nhược cơ thể cũng làm tăng nguy
        cơ mắc bệnh.<br>
        <br>
        <table align="center" class="picBox">
            <tbody>
                <tr>
                    <td><img alt="" src="https://img.giaoduc.net.vn/w801/Uploaded/2019/zdhwqcrnw/2012_12_10/benh-nguy-hiem-giaoduc.net.vnq.jpg"></td>
                </tr>
                <tr>
                    <td class="desc"> </td>
                </tr>
            </tbody>
        </table>
        <br> Các bệnh về tim mạch vẫn là nguyên nhân gây tử vong hàng đầu.<br>
        <br>
        <strong>7. Ung thư vú</strong><br>
        <br> Trong các triệu chứng ung thư, ung thư vú là căn bệnh phổ biến và là mối đe dọa gây tử vong hàng đầu ở phụ nữ.<br>
        <br> Nếu như ở thập niên 60, 1 trong 20 người được chẩn đoán là mắc bệnh ung thư vú, thì hiện nay, con số này giảm còn 1 trong 10 người. Nếu phát hiện bệnh sớm, ung thư vú có thể chữ khỏi đến 99%. Do đó, bạn nên tự kiểm tra, chụp nhũ ảnh và khám
        vú định kỳ để sớm phát hiện bệnh.<br>
        <br>
        <strong>8. Các bệnh STD</strong><br>
        <br> STD là các bệnh lây qua đường tình dục. Trong đó, nguy hiểm nhất là bệnh mụn giộp sinh dục. Chúng không có triệu chứng lâm sàng rõ ràng nên khi xuất hiện, khả năng tái phát lên đến 85%.<br>
        <br> Hiện nay đã có thuốc chữa trị nhưng nguy cơ tái phát vẫn tồn tại suốt đời.<br>
        <br>
        <strong>9. Suy thận</strong><br>
        <br> Thận có vai trò bài tiết, đào thải chất độc. Khi cả hai quả thận không đảm bảo được chức năng trên sẽ dẫn đến tình trạng bị phù, suy tim, cao huyết áp.<br>
        <br> Người mắc bệnh này thường phải chạy thận nhân tạo. Ghép thận có thể kéo dài sự sống cho bệnh nhân.<br>
        <strong><br>
  10. Vàng da</strong><br>
        <br> Vàng da là bệnh lý thường gặp ở trẻ sơ sinh, có thể gây suy thận hay các biến chứng về thần kinh, làm giảm sự phát triển trí tuệ của trẻ sau này. Xét nghiệm sàng lọc các trẻ mới sinh nhằm phát hiện sớm các thiếu hụt về gen và men G6PD để
        có biện pháp dự phòng và điều trị kịp thời.<br>
        <br>
        <strong>11. Ung thư phổi</strong><br>
        <br> Đây là một trong những bệnh lý ác tính, thường gặp nhất ở nam giới. Tỷ lệ tử vong cao do không phát hiện và chẩn đoán sớm. Hút thuốc lá được xem là nguyên nhân hàng đầu gây ra bệnh ung thư phổi. Ngoài ra, việc nấu nướng trong nhà bằng than
        đá cũng làm tăng nguy cơ mắc bệnh.<br>
        <br>
        <strong>12. Béo phì</strong><br>
        <br> Béo phì là nguồn gốc của nhiều loại bệnh như: đái tháo đường, tăng huyết áp, nhồi máu cơ tim, sỏi thận... khiến chất lượng cuộc sống và tuổi thọ suy giảm nghiêm trọng.<br>
        <br> Để phòng chống béo phì, hãy thường xuyên theo dõi cân nặng, giữ cơ thể có mức bình thường, chỉ ăn khi thật sự đói.<br>
        <br>
        <table align="center" class="picBox">
            <tbody>
                <tr>
                    <td><img alt="" src="https://img.giaoduc.net.vn/w801/Uploaded/2019/zdhwqcrnw/2012_12_10/benh-nguy-hiem-giaoduc.net.vn2.jpg"></td>
                </tr>
                <tr>
                    <td class="desc">Ảnh minh họa</td>
                </tr>
            </tbody>
        </table>
        <br>
        <br> Béo phì là nguồn gốc của nhiều loại bệnh.<br>
        <br>
        <strong>13. Sốt xuất huyết</strong><br>
        <br> Lây truyền chủ yếu qua muỗi. Sốt xuất huyết thường gặp ở trẻ em từ 4 đến 8 tuổi. Tuy nhiên, người lớn cũng có thể mắc bệnh này. Bệnh thường xuất hiện theo chu kỳ, khoảng từ 3 đến 5 năm/lần. Muốn dập tắt dịch phải thường xuyên vệ sinh môi
        trường sống, tiêu diệt muỗi.<br>
        <strong><br>
  14. Viêm não</strong><br>
        <br> Bệnh thường để lại các di chứng trầm trọng và có tỷ lệ tử vong cao, có thể bùng phát thành dịch, do viruts lây truyền chủ yếu qua đường muỗi Culex. Để phòng bệnh, khi ngủ phải nằm màn, trẻ cần được tiêm ngừa vắc-xin.<br>
        <br>
        <strong>15. Rubella</strong><br>
        <br> Biểu hiện chính thường là sốt phát ban, nổi hạch và đau khớp. Bệnh có thể gây nguy hiểm cho bà mẹ mang thai ở 3 tháng đầu. Hiện nay chưa có thuốc đặc hiệu điều trị Rubella nên phòng ngừa vẫn là cách tối ưu.<br>
        <br> Khi tiếp xúc với người bệnh, cần thực hiện các biện pháp như: cách ly, mang khẩu trang...<br>
        <br>
    </div>
</div>
<app-public-footer></app-public-footer>