<app-admin-header></app-admin-header>
<div class="main">
    <div>
        <main class="container pt-5">
            <div class="card mb-5">
                <div class="card-header">
                    <i class="fa fa-home"></i>Trang chủ/
                    <i class="fas fa-users"></i>Quản lý nhân viên
                    <a [routerLink]="['/admin/employee/form']" id="add-request" type="button" class="btn btn-primary pull-right">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="card-block p-0">
                    <table class="table table-bordered table-sm m-0" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Mã nhân viên</th>
                                <th>Họ tên</th>
                                <th>Giới tính</th>
                                <th>Ngày sinh</th>
                                <th>CMND</th>
                                <th>Số điện thoại</th>
                                <th>Email</th>
                                <th>Địa chỉ</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let emp of employees">
                                <td>
                                    <a [routerLink]="['/admin/employee/form',emp.id]">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </td>
                                <td>{{emp.employee_no}}</td>
                                <td>{{emp.name}}</td>
                                <td>{{emp.gender}}</td>
                                <td>{{emp.birthday}}</td>
                                <td>{{emp.id_number}}</td>
                                <td>{{emp.phone_number}}</td>
                                <td>{{emp.email}}</td>
                                <td>{{emp.address_name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>
<app-admin-footer></app-admin-footer>