<app-public-header></app-public-header>

<table class="table table-bordered table-sm m-0">
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of groupService.list">
      <td>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
        </label>
      </td>
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td></td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered table-sm m-0">
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of doctorService.list">
      <td>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
        </label>
      </td>
      <td>{{emp.doctorNo}}</td>
      <td>{{emp.doctorName}}</td>
      <td>{{emp.doctorGender}}</td>
    </tr>
  </tbody>
</table>