<app-public-header></app-public-header>
<div class="body1">
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Welcome</h3>
                <p>FiDo!</p>
                <a [routerLink]="['/login']"><input type="submit" name="" value="Đăng nhập" /></a><br />

            </div>
            <div class="col-md-9 register-right">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">Người dùng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Bác sĩ</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Thông tin</h3>
                        <form [formGroup]="registerUserForm" (ngSubmit)="onSubmitUser()">
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" formControlName="name" class="form-control"
                                            placeholder="Họ tên*" value=""
                                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                            <div *ngIf="f.name.errors.required">Vui lòng nhập họ tên!</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" formControlName="email" class="form-control"
                                            placeholder="Email *" value=""
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Vui lòng nhập email!</div>
                                            <div *ngIf="f.email.errors.email">Không đúng định dạng!</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="maxl">
                                            <label class="radio inline">
                                                <input formControlName="gender" type="radio" name="gender" value="male"
                                                    checked>
                                                <span> Nam </span>
                                            </label>
                                            <label class="radio inline">
                                                <input formControlName="gender" type="radio" name="gender"
                                                    value="female">
                                                <span>Nữ </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="password" formControlName="password" class="form-control"
                                            placeholder="Mật khẩu *" value=""
                                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Vui lòng nhập mật khẩu!</div>
                                            <div *ngIf="f.password.errors.minlength">Mật khẩu ít nhất 6 kí tự</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" formControlName="confirmPassword" class="form-control"
                                            placeholder="Xác nhận mật khẩu *" value=""
                                            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                            <div *ngIf="f.confirmPassword.errors.required">Xác nhận mật khẩu!
                                            </div>
                                            <div *ngIf="f.confirmPassword.errors.mustMatch">Mật khẩu không khớp!</div>
                                        </div>
                                    </div>

                                    <input type="submit" class="btnRegister" value="Đăng ký" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <h3 class="register-heading">Thông tin</h3>
                        <form [formGroup]="registerDoctorForm" (ngSubmit)="onSubmitDoctor()">
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" formControlName="name" class="form-control"
                                            placeholder="Họ tên*" value=""
                                            [ngClass]="{ 'is-invalid': submitted1 && f1.name.errors }" />
                                        <div *ngIf="submitted1 && f1.name.errors" class="invalid-feedback">
                                            <div *ngIf="f1.name.errors.required">Vui lòng nhập họ tên!</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" formControlName="email" class="form-control"
                                            placeholder="Email *" value=""
                                            [ngClass]="{ 'is-invalid': submitted1 && f1.email.errors }" />
                                        <div *ngIf="submitted1 && f1.email.errors" class="invalid-feedback">
                                            <div *ngIf="f1.email.errors.required">Vui lòng nhập email!</div>
                                            <div *ngIf="f1.email.errors.email">Không đúng định dạng!</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" formControlName="password" class="form-control"
                                            placeholder="Mật khẩu *" value=""
                                            [ngClass]="{ 'is-invalid': submitted1 && f1.password.errors }" />
                                        <div *ngIf="submitted1 && f1.password.errors" class="invalid-feedback">
                                            <div *ngIf="f1.password.errors.required">Vui lòng nhập mật khẩu!</div>
                                            <div *ngIf="f1.password.errors.minlength">Mật khẩu ít nhất 6 kí tự!</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" formControlName="confirmPassword" class="form-control"
                                            placeholder="Xác nhận mật khẩu *" value=""
                                            [ngClass]="{ 'is-invalid': submitted1 && f1.confirmPassword.errors }" />
                                        <div *ngIf="submitted1 && f1.confirmPassword.errors" class="invalid-feedback">
                                            <div *ngIf="f1.confirmPassword.errors.required">Xác nhận mật khẩu!
                                            </div>
                                            <div *ngIf="f1.confirmPassword.errors.mustMatch">Mật khẩu không khớp!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select class="form-control" formControlName="address_id">

                                            <option class="hidden" selected disabled>Địa chỉ
                                            </option>
                                            <option *ngFor="let item of addresses" value="{{item.id}}">{{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <select class="form-control" formControlName="specialist_id">
                                                <option class="hidden" selected disabled>Chuyên khoa
                                                </option>
                                                <option *ngFor="let item of specialists" value="{{item.id}}">
                                                    {{item.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="maxl">
                                            <label class="radio inline">
                                                <input type="radio" name="gender" value="male" checked>
                                                <span> Nam </span>
                                            </label>
                                            <label class="radio inline">
                                                <input type="radio" name="gender" value="female">
                                                <span>Nữ </span>
                                            </label>
                                        </div>
                                    </div>
                                    <input type="submit" class="btnRegister" value="Đăng ký" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<app-public-footer></app-public-footer>