<app-doctor-header></app-doctor-header>
<div class="main">
    <div class="card-header">
        <i class="fa fa-home"></i>Trang chủ/
        <i class="fas fa-graduation-cap"></i>Chứng chỉ hành nghề
    </div>
    <div class="jumbtron">
        <div class="row">
            <div class="col-md-5">
                <app-doctor-certificate-form></app-doctor-certificate-form>
            </div>
            <div class="col-md-7">
                <app-doctor-certificate-list></app-doctor-certificate-list>
            </div>
        </div>
    </div>
</div>
<app-doctor-footer></app-doctor-footer>