<app-doctor-header></app-doctor-header>
<div class="main">
    <div>
        <main class="container pt-5">
            <div class="card mb-5">
                <div class="card-header">
                    <i class="fa fa-home"></i>Trang chủ/
                    <i class="fas fa-comment-alt"></i>Đánh giá
                </div>
                <div class="card-block p-0">
                    <table class="table table-bordered table-sm m-0">
                        <thead>
                            <tr>
                                <th>Report</th>
                                <th>Tên người dùng</th>
                                <th>Đánh giá</th>
                                <th>Nội dung</th>
                                <th>Thích</th>
                                <th>Ngày đánh giá</th>
                                <th>Trạng thái report</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let emp of ratings">
                                <td><button (click)="onReport(emp.id)" class="btn-outline-primary">Report</button></td>
                                <td>{{emp.patient_name}}</td>
                                <td>{{emp.star}}</td>
                                <td>{{emp.review}}</td>
                                <td>{{emp.like}}</td>
                                <td>{{emp.created_at}}</td>
                                <td>{{emp.report}}</td>
                                <!-- /[routerLink]="['/public/doctor/details',item.id]" -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>
<app-doctor-footer></app-doctor-footer>